In [2]:
import pandas as pd

In [8]:
df = pd.read_csv("olympics_1896_2004.csv", skiprows = 5)

### Country is India

In [9]:
df_India = df[df['NOC']== 'IND']

In [ ]:
df_India.rename(columns={"Athlete Name": "Athlete_Name", "Event Gender": "Event_Gender"}, inplace=True)

In [20]:
df_India.head(4)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
179,1900,Paris,Athletics,Athletics,"PRITCHARD, Norman",IND,Men,200m,M,Silver,2
188,1900,Paris,Athletics,Athletics,"PRITCHARD, Norman",IND,Men,200m hurdles,M,Silver,2
5472,1928,Amsterdam,Hockey,Hockey,"ALLEN, Richard James",IND,Men,hockey,M,Gold,1
5473,1928,Amsterdam,Hockey,Hockey,"CHAND, Dyan",IND,Men,hockey,M,Gold,1

##### How many GOLDðŸ¥‡ , SilverðŸ¥ˆ, BronzeðŸ¥‰ India won in respective years ?

In [33]:
df_India[df_India["Medal"]=="Gold"]["Year"].value_counts().sum()

np.int64(127)

In [45]:
df_India[(df_India["Medal"]=="Gold") & (df_India["Year"] > 1947)]["Year"].value_counts()

Year
1948    20
1956    17
1980    16
1964    15
1952    14
Name: count, dtype: int64

##### How many Discipline and sport are there for India ?

In [47]:
print(f"No of Games : {df_India['Sport'].value_counts().count()}")
print(f"No of Discipline : {df_India['Discipline'].value_counts().count()}")
print(f"No of Event : {df_India['Event'].value_counts().count()}")

No of Games : 6
No of Discipline : 6
No of Event : 7

##### GOLDðŸ¥‡ in different sports

In [50]:
df_India[df_India["Medal"] == "Gold"]['Sport'].value_counts().count()

np.int64(1)

In [51]:
df_India[df_India["Medal"] == "Silver"]['Sport'].value_counts().count()

np.int64(3)

In [52]:
df_India[df_India["Medal"] == "Bronze"]['Sport'].value_counts().count()

np.int64(4)

##### How many GOLDðŸ¥‡ won by males and females ?

In [35]:
df_India[df_India["Medal"] == "Gold"]["Gender"].value_counts()

Gender
Men    127
Name: count, dtype: int64

In [36]:
df_India["Gender"].value_counts()

Gender
Men      174
Women      1
Name: count, dtype: int64

##### What is name of medal winner female ?

In [38]:
df_India[df_India["Gender"] == "Women"]

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
23689,2000,Sydney,Weightlifting,Weightlifting,"MALLESWARI, Karnam",IND,Women,69kg,W,Bronze,3